/*POLICES*/

@font-face 
{   font-family: 'Roboto-Regular';
    src: url('police/Roboto-Regular.eot') format('eot'),
         url('police/Roboto-Regular.woff') format('woff'),
         url('police/Roboto-Regular.ttf') format('truetype'),
         url('police/Roboto-Regular.svg') format('svg');
}

@font-face 
{   font-family: 'Shrikhand-Regular';
    src: url('police/Shrikhand-Regular.eot') format('eot'),
         url('police/Shrikhand-Regular.woff') format('woff'),
         url('police/Shrikhand-Regular.ttf') format('truetype'),
         url('police/Shrikhand-Regular.svg') format('svg');
}


/*VARIABLES*/

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$gris-clair: #f7f7f7;
$gris-fonce: #ededed;

$police-titre: 'Shrikhand-Regular', 'serif';
$police-texte: 'Roboto-Regular', 'serif';

$padding-small: 20px;
$padding-large: 40px 20px;

$ombre-simple: 0px 5px 10px gray;
$ombre-large: 0px 5px 20px black;


/*KEYFRAMES*/

@keyframes lds-dual-ring 
{   0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}     
@-webkit-keyframes lds-dual-ring { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }     
@-moz-keyframes lds-dual-ring { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }     
@-o-keyframes lds-dual-ring { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }     

@keyframes disparition 
{   0% { opacity: 0.9; z-index: 2; } 
    100% { opacity: 0; z-index: 0; } 
} 
@-webkit-keyframes disparition { 0% { opacity: 0.9; z-index: 2; } 100% { opacity: 0; z-index: 0; } } 
@-moz-keyframes disparition { 0% { opacity: 0.9; z-index: 2; } 100% { opacity: 0; z-index: 0; } } 
@-o-keyframes disparition { 0% { opacity: 0.9; z-index: 2; } 100% { opacity: 0; z-index: 0; } } 

@keyframes remplissage 
{   0% { opacity: 0; } 
    100% { opacity: 1; } 
}
@-webkit-keyframes remplissage { 0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes remplissage { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes remplissage { 0% { opacity: 0; } 100% { opacity: 1; } }

@keyframes fadein 
{   0% { opacity: 0; transform: translateY(20px);} 
    100% { opacity: 1; transform: translateY(0px);} 
}
@-webkit-keyframes fadein { 0% { opacity: 0; transform: translateY(20px);} 100% { opacity: 1; transform: translateY(0px);} }
@-moz-keyframes fadein { 0% { opacity: 0; transform: translateY(20px);} 100% { opacity: 1; transform: translateY(0px);} }
@-o-keyframes fadein { 0% { opacity: 0; transform: translateY(20px);} 100% { opacity: 1; transform: translateY(0px);} }

@keyframes rotation 
{   0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}
@-webkit-keyframes rotation { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-moz-keyframes rotation { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-o-keyframes rotation { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

@keyframes largeur 
{   0% { min-width: 80%; } 
    100% { min-width: 60%; } 
}
@-webkit-keyframes largeur { 0% { min-width: 80%; } 100% { min-width: 60%; } }
@-moz-keyframes largeur { 0% { min-width: 80%; } 100% { min-width: 60%; } }
@-o-keyframes largeur { 0% { min-width: 80%; } 100% { min-width: 60%; } }


/*GENERAL*/

body
{   font-family: $police-texte;
    color: black;
    margin: auto;
}

body ,.global
{   width: 100%;
    position: absolute;
}

h1
{   font-family: $police-titre;
    margin: 0px;
}

a
{   color: black;
}

.coeur
{   font-size: xx-large;
    position:absolute;
    top:0;
    right:0;
    padding: 10px;
    margin: 10px;
    width: 10%;
    text-align: end;
    &:hover
    {   content: "\f004";
        font-family: 'Font Awesome 5 Free';
        font-weight: bold;  
        background: -webkit-linear-gradient(90deg, $secondaire, $primaire);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-name: remplissage;
        animation-duration: 3s;
    }
}

/*Header*/

header
{   padding: $padding-small;
    text-align: center;
    max-width: 100%;
    position: relative;
}

.retour
{   font-size: xx-large;
    position: absolute;
    left: 0;
    top: 8%;
    padding: 20px;
}

/*Footer*/ 

footer
{   padding: $padding-small;
    color: white;
    background-color: black;
    opacity: 0.8;
}

footer h4
{   font-family: $police-titre;
    margin: 0px;
}

footer ul
{   padding-left: 0px;
}

footer li
{   list-style: none;
    line-height: 200%;
}

.icone-3
{   padding-right: 20px;
}

footer a
{   text-decoration: none;
    color: white;
}


/*ACCUEIL*/

/*Loading spinner*/

.spinner
{   width: 100%;
    height: 100%;
    background-color: $gris-clair;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    z-index: 2;
    animation: disparition 2s forwards 2s;
}
.lds-dual-ring 
{   width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: disparition 2s forwards 2s;
}
.lds-dual-ring:after 
{   content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $primaire;
    border-color: $primaire transparent $primaire transparent;
    animation: lds-dual-ring 3s linear infinite;
}

/*Localisation*/

.localisation
{   padding: $padding-small;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: $gris-fonce;
    box-shadow: inset 0 5px 5px -5px #333;
    max-width: 100%;
}

.localisation input
{   border: none;
    background-color: $gris-fonce;
    font-size: large;
    font-weight: bold;
    color: black;
    max-width: 50%;
}

input::placeholder
{   color: black;
    opacity: 1;
    width: 100%;
    text-align: center;
    border: none;
}

/*Presentation*/

.presentation 
{   padding: $padding-large;
    background-color: $gris-clair;
    text-align: center;
}

.presentation p
{   font-size: large;
}

.icone-1
{   color: black;
    opacity: 0.6;
}

.icone-2
{   color: $primaire;
}

.button
{   width: 80%;
    margin-top: 20px;
    padding: 20px 10px 20px 10px;
    border-radius: 30px;
    font-size: medium;
    font-weight: bold;
    color: white;
    border: none;
    background: linear-gradient(170deg, $secondaire, $primaire);
    opacity: 0.9;
    box-shadow: $ombre-simple;
    &:hover 
    {  opacity: 0.7;
       box-shadow: $ombre-large;
    }
}

/*Fonctionnement*/

.fonctionnement 
{   padding: $padding-large;
}

.fonctionnement ol
{   list-style-type: none;
    counter-reset: compteListe;
}

.fonctionnement ol li
{   padding: 30px 10px 30px 0px;
    font-weight: bold;
    background-color: $gris-clair;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: $ombre-simple;
    margin-left: -20px;
    letter-spacing: 1px;
    &:hover 
    {   opacity: 0.7;
        box-shadow: $ombre-large;
    }
}

.fonctionnement ol li::before
{   counter-increment: compteListe;
    content: counter(compteListe) " ";
    color: white;
    background-color: $primaire;
    border-radius: 50%;
    padding: 10px;
    margin-left: -20px;
}

.icone-1 ,.icone-2
{   padding-left: 20px;
    padding-right: 20px;
}

/*Restaurants*/

.restaurant
{   padding: $padding-large;
    background-color: $gris-clair;
}

.restaurant-indiv
{   max-width: 100%;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: $ombre-simple;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurant a
{   text-decoration: none;
    color: black;
    width: 100%;
}

.restaurant-image 
{   position: relative;
    width: 100%;
}

.restaurant-indiv img
{   border-radius: 20px 20px 0px 0px;
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.button-new
{   background-color: #99E2D0;
    color: #30A387;
    font-weight: bold;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: none;
    letter-spacing: 1px;
    position:absolute;
    top:0;
    right:0;
}

.restaurant-texte
{   line-height: 50%;
    padding-left: 10px;
    position: relative;
    width: 100%;
}


/*MENUS*/

/*Description*/

.description-texte
{   position: relative;
    max-width: 100%;
    padding: $padding-small;
    border-radius: 30px 30px 0px 0px;
    background-color: #f7f7f7;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description-texte h2
{   font-family: $police-titre;
    margin: 0px;
}

.description img
{   width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
}

/*Menus*/

.menu
{   background-color: #f7f7f7;
    padding: 0px 20px 40px 20px;
    margin-top: -20px;
}

.menu h3
{   padding-top: 20px;
    font-size: medium;
    text-transform: uppercase;
    font-weight: lighter;
    border-bottom: 2px $tertiaire solid;
    padding-bottom: 5px;
    width: 40px;
}    

.menu-indiv
{   max-width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: small;
    box-shadow: $ombre-simple;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    &:hover > .plat
    {   animation: largeur 2s forwards; 
    }
    &:hover > .coche i
    {   animation: rotation 2s forwards 0.5s;
    }
}

.menu-indiv:nth-of-type(1) { animation-delay: 0s;}
.menu-indiv:nth-of-type(2) { animation-delay: 0.1s;}
.menu-indiv:nth-of-type(3) { animation-delay: 0.2s;}
.menu-indiv:nth-of-type(4) { animation-delay: 0.3s;}

.tarif
{   font-weight: bold;
    min-width: 20%;
    min-height: 100%;
    text-align: center;
    display: grid;
    align-items: end;
    z-index: 1;
    background-color: $gris-clair;
    border-radius: 0px 20px 20px 0px;
    position: relative;
}

.coche
{   min-width: 20%;
    min-height: 100%;
    z-index: 0;
    color: white;
    background: $tertiaire;
    border-radius: 0px 20px 20px 0px;
    font-size: x-large;
    position: relative;
    text-align: center;
    display: grid;
    align-items: center;
}

.plat
{   padding-left: 10px;
    min-width: 80%;
    white-space: nowrap;
}

.plat p ,.plat h4
{   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bouton
{   text-align: center;
}


/*MEDIA QUERIES*/

@media screen and (min-width: 800px) and (max-width: 1024px)
{   footer h4
    {   text-align: center;
    }
    footer ul 
    {   text-align: center;
    }
    .description img
    {   max-height: 250px;
    }
    .description-texte
    {   max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu
    {   max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }
    .restaurant-indiv img
    {   max-height: 200px;
    }
}

@media screen and (min-width: 1024px)
{   .presentation ,.fonctionnement
    {   padding: 40px 20px;
    }
    .button 
    {   width: 30%;
    }
    .fonctionnement ol 
    {   display: flex;
        justify-content: space-between;
    }
    .fonctionnement ol li 
    {   width: 30%;
        font-weight: normal;
    }
    .restaurant 
    {   padding: 40px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .restaurant h2 
    {   width: 100%;
    }
    .restaurant a 
    {   width: 49%;
    }
    .restaurant-indiv img
    {   max-height: 250px;
    }
    footer 
    {   padding: 20px 20px;
        display: flex;
    }
    footer h4
    {   margin: 20px;
        width: 15%;
    }
    footer ul 
    {   display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .description-texte
    {   width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .description img
    {   max-height: 300px;
    }
    .menu
    {   width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu-categorie
    {   width: 30%;
    }
    .bouton
    {   width: 100%;
    }
}