@charset "UTF-8";
@font-face {
  font-family: "Roboto-Regular";
  src: url("police/Roboto-Regular.eot") format("eot"), url("police/Roboto-Regular.woff") format("woff"), url("police/Roboto-Regular.ttf") format("truetype"), url("police/Roboto-Regular.svg") format("svg");
}
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("police/Shrikhand-Regular.eot") format("eot"), url("police/Shrikhand-Regular.woff") format("woff"), url("police/Shrikhand-Regular.ttf") format("truetype"), url("police/Shrikhand-Regular.svg") format("svg");
}
/*General*/
body {
  font-family: "Roboto-Regular", "serif";
  color: black;
  margin: auto;
}

body, .global {
  width: 100%;
  position: absolute;
}

.spinner {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  z-index: 2;
  animation: disparition 2s forwards 2s;
}

.lds-dual-ring {
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: disparition 2s forwards 2s;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  animation: lds-dual-ring 3s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disparition {
  0% {
    opacity: 0.9;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
h1, h4 {
  font-family: "Shrikhand-Regular", "serif";
  margin: 0px;
}

a {
  color: black;
}

/*Header*/
header {
  padding: 20px;
  text-align: center;
  max-width: 100%;
  position: relative;
}

.retour {
  font-size: xx-large;
  position: absolute;
  left: 0;
  top: 8%;
  padding: 20px;
}

/*Footer*/
footer {
  padding: 20px;
  color: white;
  background-color: black;
}

footer ul {
  padding-left: 0px;
}

footer li {
  list-style: none;
  line-height: 200%;
}

.icone-3 {
  padding-right: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

/*Localisation*/
.localisation {
  padding: 20px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  background-color: #ededed;
  box-shadow: inset 0 5px 5px -5px #333;
  max-width: 100%;
}

input {
  border: none;
  background-color: #ededed;
  font-size: large;
  font-weight: bold;
  color: black;
  max-width: 50%;
}

input::placeholder {
  color: black;
  opacity: 1;
  width: 50%;
  text-align: center;
  border: none;
}

/*Presentation*/
.presentation {
  padding: 40px 20px;
  background-color: #f7f7f7;
  text-align: center;
}

.presentation p {
  font-size: large;
}

.icone-1 {
  color: black;
  opacity: 0.6;
}

.icone-2 {
  color: #9356DC;
}

.button {
  width: 80%;
  margin-top: 20px;
  padding: 20px 10px 20px 10px;
  border-radius: 30px;
  font-size: medium;
  font-weight: bold;
  color: white;
  border: none;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  opacity: 0.9;
  box-shadow: 0px 5px 10px gray;
}
.button:hover {
  opacity: 0.7;
  box-shadow: 0px 5px 20px black;
}

/*Fonctionnement*/
.fonctionnement {
  padding: 40px 20px;
}

.fonctionnement ol {
  list-style-type: none;
  counter-reset: compteListe;
}

.fonctionnement ol li {
  padding: 30px 10px 30px 0px;
  font-weight: bold;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px gray;
  margin-left: -20px;
  letter-spacing: 1px;
}
.fonctionnement ol li:hover {
  opacity: 0.7;
  box-shadow: 0px 5px 20px black;
}

.fonctionnement ol li::before {
  counter-increment: compteListe;
  content: counter(compteListe) " ";
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 10px;
  margin-left: -20px;
}

.icone-1, .icone-2 {
  padding-left: 20px;
  padding-right: 20px;
}

/*Restaurants*/
.restaurant {
  padding: 40px 20px;
  background-color: #f7f7f7;
}

.restaurant-indiv {
  max-width: 100%;
  border-radius: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.restaurant a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.restaurant-image {
  position: relative;
  width: 100%;
}

.restaurant-indiv img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.button-new {
  background-color: #99E2D0;
  color: #30A387;
  font-weight: bold;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: none;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  right: 0;
}

.restaurant-texte {
  line-height: 50%;
  padding-left: 10px;
  position: relative;
  width: 100%;
}

.coeur {
  font-size: xx-large;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 10px;
  width: 10%;
  text-align: center;
}
.coeur:hover {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  background: -webkit-linear-gradient(90deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: remplissage;
  animation-duration: 3s;
}

@-webkit-keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Description*/
.description-texte {
  position: relative;
  max-width: 100%;
  padding: 20px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f7f7f7;
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: bottom;
}

/*Menus*/
.menu {
  background-color: #f7f7f7;
  padding: 0px 20px 40px 20px;
  margin-top: -20px;
}

.menu h2 {
  padding-top: 20px;
  font-size: medium;
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 2px #99E2D0 solid;
  padding-bottom: 5px;
  width: 40px;
}

.menu-indiv {
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: small;
  box-shadow: 0px 5px 10px gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu-indiv:nth-of-type(1) {
  animation-delay: 0s;
}

.menu-indiv:nth-of-type(2) {
  animation-delay: 0.1s;
}

.menu-indiv:nth-of-type(3) {
  animation-delay: 0.2s;
}

.menu-indiv:nth-of-type(4) {
  animation-delay: 0.3s;
}

/*.menu-indiv:nth-of-type(5) { animation-delay: 0.4s;}
.menu-indiv:nth-of-type(6) { animation-delay: 0.5s;}
.menu-indiv:nth-of-type(7) { animation-delay: 0.6s;}
.menu-indiv:nth-of-type(8) { animation-delay: 0.7s;}
.menu-indiv:nth-of-type(9) { animation-delay: 0.8s;}
.menu-indiv:nth-of-type(10) { animation-delay: 0.9s;}*/
.tarif {
  font-weight: bold;
  width: 20%;
  min-height: 100%;
  text-align: center;
  display: grid;
  align-items: end;
  z-index: 1;
  background-color: #f7f7f7;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  right: -20%;
}
.tarif:hover {
  animation: decalage 2s forwards;
}
.tarif:hover + .coche {
  animation: decalage 2s forwards;
}

@-webkit-keyframes decalage {
  0% {
    translateX: 0;
  }
  100% {
    translate: -100%;
  }
}
@-moz-keyframes decalage {
  0% {
    translateX: 0;
  }
  100% {
    translate: -100%;
  }
}
@-o-keyframes decalage {
  0% {
    translateX: 0;
  }
  100% {
    translate: -100%;
  }
}
@keyframes decalage {
  0% {
    translateX: 0;
  }
  100% {
    translate: -100%;
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.coche {
  width: 20%;
  min-height: 100%;
  z-index: 0;
  /*content: "\f058";
  font-family: 'Font Awesome 5 Free'; */
  color: white;
  background: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  font-size: xx-large;
  position: relative;
  right: -20%;
  text-align: center;
  display: grid;
  align-items: center;
}

.plat {
  line-height: 50%;
  padding-left: 10px;
  width: 60%;
  white-space: nowrap;
  /*overflow: hidden;
  text-overflow: ellipsis;*/
}

.bouton {
  text-align: center;
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  body, .global {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .presentation, .fonctionnement {
    padding: 40px 20px;
  }

  .button {
    width: 30%;
  }

  .fonctionnement ol {
    display: flex;
    justify-content: space-between;
  }

  .fonctionnement ol li {
    width: 30%;
    font-weight: normal;
  }

  .restaurant {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .restaurant h2 {
    width: 100%;
  }

  .restaurant a {
    width: 49%;
  }

  footer {
    padding: 20px 20px;
    display: flex;
  }

  footer h4 {
    margin: 20px;
    width: 15%;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .description-texte {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-categorie {
    width: 30%;
  }

  .bouton {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
